{% extends "base.html.twig" %}


{% block title %}Liste des utilisateurs{% endblock %}

{% block body %}
<pre>
    {{ dump(users) }}
</pre>
    <div class="container">
        <h1>Liste des utilisateurs</h1>

        <table>
            <thead>
                <th>ID</th>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Email</th>
                <th>Adresse</th>
                <th>Rôles</th>
                <th>Téléphone</th>
                <th>Commandes</th>
                <th>Actions</th>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.lastname }}</td>
                    <td>{{ user.firstname }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.adress }}</td>
                    <td>
                        {% for role in user.roles %}
                            {% if role == 'ROLE_USER' %}
                                Utilisateur
                            {% elseif role == 'ROLE_ADMIN' %}
                                Administrateur
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td>{{ user.phone }}</td>
                    <td>{{ user.ordereds | length }}</td>
                    <td>
                        <a href="{{ path('app_admin_user_edit', {'id' : user.id }) }}" class="btn btn-warning">Modifier</a>
                        <a href="" class="btn btn-danger">supprimer</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <tr>Aucun utilisateur inscrits</tr>
                </tr>
            {% endfor %}

            </tbody>
        </table>
    
    </div>

{% endblock %}